{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<p>Fluxx Studios is a visionary book company specializing in science fiction and horror literature that challenges the limits of imagination. Founded by Emily Donnely, Sterling Adamson, Iain Ingraham, Jack Briglio, and Nikesh Patel, Fluxx Studios brings together a collective passion for bold storytelling and immersive world-building. The company’s catalog spans from futuristic odysseys and dystopian adventures to spine-chilling tales of the supernatural, offering readers a perfect blend of wonder and fear. Committed to discovering new voices and redefining modern speculative fiction, Fluxx Studios continues to push the boundaries of storytelling—one unforgettable book at a time.</p>
{% endblock %}
